<h1 id="content-home">Welcome to our website project</h1>
<div class="wrapper-coloured">
    <div class="sectiontitle">
        <h3 class="heading">Our Team</h3>
    </div>
    <div class="tm-container-inner tm-persons">
        <div class="row">
            <article class="col-lg-6">
                <figure class="tm-person">
                    <img src="/img/tu.jpg" alt="Image" class="img-fluid tm-person-img" />
                    <figcaption class="tm-person-description">
                        <h4 class="tm-person-name">Do Huu Tu</h4>
                        <p class="tm-person-title">Leader and Back-End Developer</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-6">
                <figure class="tm-person">
                    <img src="/img/luong.jpg" alt="Image" style="width:130px; height:130px"
                        class="img-fluid tm-person-img" />
                    <figcaption class="tm-person-description">
                        <h4 class="tm-person-name">Tran Duc Luong</h4>
                        <p class="tm-person-title">Back-End Developer and Database Designer</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-6">
                <figure class="tm-person">
                    <img src="" alt="Image" class="img-fluid tm-person-img" />
                    <figcaption class="tm-person-description">
                        <h4 class="tm-person-name">Tran Van Minh</h4>
                        <p class="tm-person-title">Scrum Master</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-6">
                <figure class="tm-person">
                    <img src="/img/hoanganh.jpg" alt="Image" class="img-fluid tm-person-img" />
                    <figcaption class="tm-person-description">
                        <h4 class="tm-person-name">Mai Hoang Anh</h4>
                        <p class="tm-person-title">Front-end Developer</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-6">
                <figure class="tm-person">
                    <img src="" alt="Image" class="img-fluid tm-person-img" />
                    <figcaption class="tm-person-description">
                        <h4 class="tm-person-name">Ha Quyet Tien</h4>
                        <p class="tm-person-title">Tester</p>
                    </figcaption>
                </figure>
            </article>
        </div>
    </div>
</div>  